@charset "utf-8";
/*TEST*/

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
 }

 /* ======= Your styling goes below ======= */

.container { font-family: sans-serif; }

ul { list-style-type: none;  }

figure img{ width:100%; }

header { border-top: 33px solid #003399; }

header .wrapper {
  max-width: 1162px;
  width: 86.13%;
  padding: 73px 0 51px;
  border-bottom: 5px solid #1b94b9;
  margin: 0 auto;
}

header .wrapper > span:first-child {
  display: block;
  color: #003399;
  font-size: 5vw;
  text-align: center;
  text-transform: uppercase;
}

h1 { 
  margin: 7px 0 16px;
  text-align: center;
} 

h1 a {
  width: 7%;
  display: inline-block;
  vertical-align: text-bottom;
} 

h1 a img { width:100%; }

h1 span {     
  padding-left: 36px;
  color: #003399;
  font-size: 7.7vw;
  font-weight: 700;
  text-transform: uppercase; 
}

header .wrapper > span:last-child {
  display: block;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #003399;
}

.discover .wrapper {
  max-width: 1162px;
  width: 86.13%;
  padding:48px 0 86px;
  margin: 0 auto;
}

.discover .wrapper h2 {
  color: #003399;
  font-size: 32px;
  font-weight: 700;
}

.discover .wrapper p {
  margin-top: 18px;
  font-size: 23px;
  line-height: 33px;
}

.talent-vision { position: relative; }

.talent {
  padding: 22px 0 15px;
  position:relative; 
  background-image: url("../images/greenpat.svg");
  background-repeat: no-repeat;
  background-size: 80%,100%;
}

.talent .wrapper {
  max-width: 1218px;
  width: 90.21%;
  margin:0 auto;

}

.talent figure {
  width: 30%;
  position: absolute;
  top: -77px;
  left: 3%;
  bottom: 15px;
}  

.talent h5 {
  width: 47%;
  margin-left: 33%;
  color: #fff;
  font-size: 24px;
  font-weight: 700
}


.talent-content .wrapper {
  max-width: 1165px;
  width: 86.36%;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
}

.help-transform {
      width: 24.5%;
    padding-top: 9%;
}

.help-transform figure { width: 100% }

.help-transform span {
  margin: 15px 0 49px;
  display: block;
  color: #003399;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
} 

.help-content {
    width: 69%;
    padding-top: 4%;
}

.help-content p { 
  font-size: 29px; 
  line-height: 33px;
}

.help-content p:nth-child(2)  {
  margin-top: 25px;
}

.help-content span {
  margin-top: 38px;
  display: block;
  font-size: 29px;
  color: #003399;
  font-weight: 600;
}

.help-content ul {
  width: 17%;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.help-content ul li a {
  display: inline-block;
 text-indent: -9999px; 
}

.help-content ul li:nth-child(1):before {
  content: "\f082 ";
  font-family: "Font Awesome 5 Brands";
  font-size: 32px;
  font-weight: 900;
  float: right;
}

.help-content ul li:nth-child(2):before {
  content: "\f099";
  font-family: "Font Awesome 5 Brands";
  font-size: 32px;
  font-weight: 900;
  float: right;
}

.help-content ul li:nth-child(3):before {
  content: "\f099";
  font-family: "Font Awesome 5 Brands";
  font-size: 32px;
  font-weight: 900;
  float: right;
}

.talent-vision > figure {
  width:  35%;
  position: absolute;
  right: 0;
  bottom:-80px;
  z-index: 0;
}

.gm-family { margin-top: 56px;  }

.family .wrapper {
  max-width: 1160px;
  width: 58.77%;
  padding: 30px 0 28px;
  margin: 0 auto;
}

.family { 
  z-index: 3;
  background-color: #003399; 
}
.family .wrapper h3 {
  color: #fff;
  font-size: 2.6vw;
  text-align: center;
}

.step1 {
  position: relative;
} 

.step1-head {
  margin-top: 71px;
  padding: 70px 0 69px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-image: url("../images/One.svg");
  background-repeat: no-repeat;
  background-size: 96% , 100%;
  background-position: 0 center;
}

.step1 .wrapper {
  max-width: 1058px;
  width: 82.42%;
  margin: 0 auto;
}

.step1 > figure { 
  width: 25%;
  position: absolute;
  top: -15.87%;
  right: 2%;
}

.step1-head h2 {
  width: 78%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.step1-head h2 span:first-child { 
  margin-right: 17%;
  font-size: 3.5vw;
  font-weight: 700;
}

.step1-head h2 span:last-child {
  font-size: 2.9vw;
  float: right;
}

.step1 ul {
  display:flex;
  justify-content: space-between;
}

.search1 { 
  padding: 24% 0 5%;
  background-color: #fef6eb; 
}

.search3 .wrapper { padding-bottom: 5%; }

.search2 { background-color: #fdebd7; }
.search3 { background-color: #fddfc3; }

.search1 .search-apply1 li:nth-child(1),
.search2 .search-apply1 li:nth-child(1),
.search3 .search-apply1 li:nth-child(1) {
  width: 15%;  
}

.search2 .search-apply1 li:nth-child(1) { padding-top: 78px; }

.search1 .search-apply1 li:nth-child(2) {
  width: 30%;
  margin-left: 13%; 
}

.search2 .search-apply1 li:nth-child(2) {
  width: 19%;
  margin-left: 13%;
}

.search3 { position: relative; }

.search3 .search-apply1 li:nth-child(2) {
  width: 35%;
  position: absolute;
  bottom: 0;
  left: 29%;

}

.search2 { padding: 27px 0 36px; }

.search1 .search-apply1 li:nth-child(3), 
.search2 .search-apply1 li:nth-child(3), 
.search3 .search-apply1 li:nth-child(3) {
    width: 33%;
    font-size: 20px;
}

.search2 .search-apply1 li:nth-child(3) { padding-top: 66px; }

.search3 .wrapper {
  padding-top: 79px;
}


.step2 .wrapper {
  max-width: 1058px;
  width: 82.42%;
  margin: 0 auto;
}

.step2 { position: relative; }

.step2 .step2-head {
  margin-top: 71px;
  padding: 76px 0 69px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-image: url("../images/Two.svg");
  background-repeat: no-repeat;
  background-size: 96% , 100%;
  background-position: 0 center;

}

.step2-head h2 {
  width: 83%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.step2-head h2 span:first-child { 
  margin-right: 17%;
  font-size: 3.5vw;
  font-weight: 700;
}

.step2-head h2 span:last-child {
  font-size: 2.9vw;
  float: right;
}

.step2 ul {
  display:flex;
  justify-content: space-between;
}

.resume1 { 
  padding-top: 339px  ;
  background-color: #edf7ee; 
}

.resume2 { background-color: #d9eedb; }
.resume3 { background-color: #c8e6ca; }

.resume1 .search-apply2 li:nth-child(1),
.resume2 .search-apply2 li:nth-child(1),
.resume3 .search-apply2 li:nth-child(1) {
  width: 15%;  
}

.resume1 .search-apply2  li:nth-child(2) {
  width: 24%;
  margin-left: 13%; 
}

.resume2 { position: relative; }

.resume2 .wrapper {
  padding: 75px 0 75px;
}

.resume2 .search-apply2 li:nth-child(2) {
  width: 60%;
  position: absolute;
  right: 0;
  top: 16%;
}

.resume3 .search-apply2 li:nth-child(2) {
  width: 22%;
  margin-left: 20%

}

.resume3 .search-apply2 li:nth-child(1) figure { margin-top: 43px; } 

.resume1 .search-apply2 li:nth-child(3), 
.resume2 .search-apply2 li:nth-child(3), 
.resume3 .search-apply2 li:nth-child(3) {
    width: 33%;
    font-size: 20px;
}

.resume3 .search-apply2 li:nth-child(3) { margin-top: 43px; }

.resume3 .wrapper { padding-top: 31px; }


.step3 .wrapper {
  max-width: 1058px;
  width: 82.42%;
  margin: 0 auto;
}

.step3 .step3-head {
  margin-top: 71px;
  padding: 76px 0 69px;
  position: absolute;
  top: -5%;
  left: 0;
  right: 0;
  z-index: 4;
  background-image: url("../images/Three.svg");
  background-repeat: no-repeat;
  background-size: 96% , 100%;
  background-position: 0 center;

}

.step3 { position: relative; }

.step3-head h2 {
  width: 86%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.step3-head h2 span:first-child { 
  margin-right: 17%;
  font-size: 3.5vw;
  font-weight: 700;
}

.step3-head h2 span:last-child {
  font-size: 2.9vw;
  float: right;
}

.step3 ul {
  display:flex;
  justify-content: space-between;
}

.interview1 { 
  padding-top: 19%;
  background-color: #e6f5fa; 
}

.interview1 .wrapper {
  padding-bottom: 6.5%;
}

.interview2  { background-color:#cdebf5 ; }
.interview3 { background-color:#b2e0f0 ; }

.interview1 .search-apply3 li:nth-child(1),
.interview2 .search-apply3 li:nth-child(1),
.interview3 .search-apply3 li:nth-child(1) {
  width: 15%;  
}

.interview1 {  position: relative;}


.interview1 .search-apply3  li:nth-child(2) {
  width: 29%;
  position: absolute;
  bottom: 0;
  left: 32%;
}


.interview2 .search-apply3 li:nth-child(2) {
  width: 21%;
  margin-left: 13%;
}

.interview2 .wrapper { padding: 5% 0 6%; }

.interviwe3 { position: relative; }

.interview3 .search-apply3 li:nth-child(2) {
  width: 20%;
  position: absolute;
  bottom: -2.8%;
  left: 35%;
}

.interview1 .search-apply3 li:nth-child(3), 
.interview2 .search-apply3 li:nth-child(3), 
.interview3 .search-apply3 li:nth-child(3) {
    width: 33%;
    font-size: 20px;
}

.interview3 .wrapper { padding: 7% 0 5%; }

.gm-family { border-bottom: 33px solid #003399; }

@media screen and (max-width: 1024px) {
  header .wrapper > span:last-child { font-size: 27px; }

  .talent h5 { font-size: 19px; }

  .help-content p {
    font-size: 25px;
    line-height: 28px;
  }

  .help-content ul li { margin-right: 15px;  }

  .step1 > figure { top: -9.87%; }

  .search3 .search-apply1 li:nth-child(2) { bottom: 10%;}

  .search1 { padding: 27% 0 5% }

  .search3 .wrapper { padding-bottom: 3%; }
  
  .resume1 { padding-top: 257px; }

  .resume2 .search-apply2 li:nth-child(2) { top: 40%; }
  .resume3 .search-apply2 li:nth-child(2) { margin-top: 26px; }

  .interview1 .wrapper { padding-bottom: 1.5%; }
  .search3 .search-apply1 li:nth-child(2) { bottom: 0%;}

}

@media screen  and (max-width: 950px) {
  header .wrapper > span:last-child { font-size: 23px; }

  .talent h5 { font-size: 17px; }

  .talent { padding: 5px 0 13px; }

  .help-content p {
    font-size: 19px;
    line-height: 23px;
  }

  .help-content span { 
    margin-top: 23px; 
    font-size: 25px;
  }

  .family .wrapper h3 { font-size: 2.5vw; }
  
  .step1 > figure {  top: -15.87%; }
  .step1-head { margin-top: 0; }
  .search1 { padding: 21% 0 5%; }
  .search1 .search-apply1 li:nth-child(3),
  .search2 .search-apply1 li:nth-child(3), 
  
  .search3 .search-apply1 li:nth-child(3) {
    width: 33%;
    font-size: 17px;
  }

  .search2 .search-apply1 li:nth-child(1) { padding-top: 42px; }

  .search2 .search-apply1 li:nth-child(3) { padding-top: 27px; } 

  .step2 .step2-head { margin-top: 0; }

  .resume1 .search-apply2 li:nth-child(3),
  .resume2 .search-apply2 li:nth-child(3),
  .resume3 .search-apply2 li:nth-child(3) {
    width: 34%;
    font-size: 16px;
    line-height: 22px;
  }

  .resume1 {  padding-top: 188px }
  .resume2 .wrapper { padding: 33px 0 75px; }
  .resume3 .wrapper { padding-bottom: 35px; } 
  .resume2 .search-apply2 li:nth-child(2) { top: 11%; }
  .resume3 .wrapper { padding-bottom: 0px; }
  .interview1 { padding-top: 25%; }
  .interview1 .search-apply3 li:nth-child(3),
  .interview2 .search-apply3 li:nth-child(3),
  
  .interview3 .search-apply3 li:nth-child(3) {
    width: 33%;
    font-size: 17px;
  }

  .interview1 { padding-top: 34%; }

  .interview3 .search-apply3 li:nth-child(2) { bottom: 0; }
}

@media screen and (max-width: 768px) {
  h1 span { padding-left: 8px;  }
  header .wrapper > span:last-child { font-size: 14px; }
  header .wrapper { padding: 36px 0 32px; }
  
  .discover .wrapper h2 { font-size: 20px; }

  .discover .wrapper p {
    margin-top: 12px;
    font-size: 17px;
    line-height: 23px;
  }

  .discover .wrapper { padding: 48px 0 47px; }

  .talent figure { top: -38px; }
  .talent { background-size: 97%,100%; }
  .talent h5 {
    width: 63%;
    font-size: 14px;
  }

  .help-content p {
    font-size: 15px;
    line-height: 16px;
  }
  .help-content p:nth-child(2) { margin-top: 13px; }

  .help-content span {
    margin-top: 17px;
    font-size: 16px;
  }

  .family .wrapper h3 { font-size: 2.6vw; }
  .step1 > figure { top: -12.87%; }
  .step1-head { padding: 42px 0 34px; }

  .search1 .search-apply1 li:nth-child(3), 
  .search2 .search-apply1 li:nth-child(3), 
  .search3 .search-apply1 li:nth-child(3) {
    width: 34%;
    font-size: 13px;
  }

  .search3 .wrapper { padding-bottom: 3%;   }

  .step2 .step2-head {  padding: 39px 0 34px; }
  .resume1 {  padding-top: 109px; }

  .resume1 {
    padding-top: 109px;
    padding-bottom: 35px;
  }

  .resume2 .search-apply2 li:nth-child(2) { top: 23%; }

  .resume1 .search-apply2 li:nth-child(3), .resume2 .search-apply2 li:nth-child(3), .resume3 .search-apply2 li:nth-child(3) {
    width: 34%;
    font-size: 13px;
    line-height: 16px;
  }

  .resume2 .wrapper { padding: 26px 0 41px; }
  .resume3 .wrapper { 
    padding-top: 31px; 
    padding-bottom: 35px;
  }

  .step3 .step3-head  { padding: 23px 0 26px; }
  .interview1 { padding-top: 27%; }

  .interview1 .search-apply3 li:nth-child(3), 
  .interview2 .search-apply3 li:nth-child(3), 
  .interview3 .search-apply3 li:nth-child(3) {
    width: 33%;
    font-size: 13px;
  }

  .interview3 .search-apply3 li:nth-child(2) { width: 24%; }
  .interview3 .wrapper { padding: 4% 0 2%; }
}

@media screen and  (max-width: 480px) {
  header .wrapper > span:last-child { font-size: 12px; }
  .discover .wrapper { padding: 25px 0 35px;   }

  .discover .wrapper p {
    margin-top: 6px;
    font-size: 12px;
    line-height: 19px;
  }
  .talent figure { top: -25px; }

  .talent { padding: 0px 0 13px; }

  .talent { background-size: 100%,100%; }

  .talent h5 {
    width: 81%;
    font-size: 12px;
  }

  .talent { padding: 0px 0 10px; }
  
  .help-content p {
    font-size: 12px;
    line-height: 13px;
  }

  .help-transform span { 
    margin-bottom: 35px;
    font-size: 15px; 
  }

  .help-content span {
    margin-top: 12px;
    font-size: 12px;
  }

  .talent-vision > figure { 
    width: 100%; 
    bottom: 19px;
  }

  .family .wrapper h3 { font-size: 4vw; }

  .step1 > figure { top: -6.87%; }
  .step1 ul,
  .step2 ul,
  .step3 ul { 
    display: block;
  }

  .step1 > figure { top: -3.87%; }
 
  .gm-family figure{ width: 25%; }

  .steps-container .wrapper .search-apply li {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }

  .steps-container .wrapper ul li figure { 

    width: 35%;
    margin: 0 auto; 
    position: static;
  }

  .search3 .search-apply1 li:nth-child(2) { position: static; }
  .resume2 .search-apply2 li:nth-child(2) { position: static; }
  .interview1 .search-apply3 li:nth-child(2) { position: static; }
  .interview3 .search-apply3 li:nth-child(2) { position: static; }

  /* .search1 .wrapper .search-apply1 li, 
  .search2 .wrapper .search-apply1 li, 
  .search3 .wrapper .search-apply1 li {
    width: 100%;
    margin: 15px 0 15px;
    
  }

  .search1 .search-apply1 li figure,
 .search2 .search-apply1 li figure,
 .search3 .search-apply1 li figure { 
  width: 35%; 
  margin-left: 0;
  margin: 0 auto;
  }

  .search1 .search-apply1 li:nth-child(2) { margin-left: 0; }
  .step1-head h2 span:last-child {
    font-size: 3.3vw;
    float: right;
  }

  .step1-head h2 span:first-child { font-size: 5.6vw; }
  .search2 { padding: 1px 0 12px; }
  .search3 .search-apply1 li:nth-child(2) { position: unset; }
  .search3 .wrapper { padding-top: 16px; }

  .search3 .wrapper .search-apply1 li:nth-child(2) figure { width: 50%; }

  .resume1 .wrapper .search-apply2 li,
  .resume2 .wrapper .search-apply2 li,
  .resume3 .wrapper .search-apply2 li {
    width: 100%;
    margin-bottom: 15px;
  }

 .resume1 .search-apply2 li figure,
 .resume2 .search-apply2 li figure,
 .resume3 .search-apply2 li figure { 
  width: 35%; 
  margin-left: 0;
  margin: 0 auto;
  }

  .resume1 .search-apply2 li:nth-child(2) { margin-left: 0; }

   .resume2 .search-apply2 li:nth-child(2) { position: static; } 

     .resume2 .search-apply2 li:nth-child(2) figure { width: 60%; }
     .resume3 .search-apply2 li:nth-child(2) { margin: 0; }

  .interview1 .wrapper .search-apply3 li,
  .interview2 .wrapper .search-apply3 li,
  .interview3 .wrapper .search-apply3 li {
    width: 100%;
    margin-bottom: 15px;
  }

 .interview1 .search-apply3 li figure,
 .interview2 .search-apply3 li figure,
 .interview3 .search-apply3 li figure {
    width: 35%; 
    margin-left: 0;
    margin: 0 auto;
 }

 .interview1 .search-apply3 li:nth-child(2),
  .interview3 .search-apply3 li:nth-child(2)
  { position: static; }

  .interview1 .search-apply3 li figure { position: static; } 
  .interview2 .wrapper .search-apply3 li { margin-left: 0; }
 */


}



